*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #16423C;
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    color: aliceblue;
    padding-top: 10px;
}
.container{
    height: 70vh;
    /* width: 70vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    /* background-color: aqua; */
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vmin;
    justify-content: center;
}
.box{
    width: 18vmin;
    height: 18vmin;
    background-color: #C4DAD2;
    border-radius:1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    font-size: 10vmin;
    color: #E78895;
}
#reset-butt{
    height: 5vmin;
    width: 14vmin;
    border-radius:0.3rem;
    border: none;
    font-size: medium;
}
.msg-cont{
    height: 80vmin;
    /* width: min-content; */
    /* width: 30vmin;
    text-align: center; */
    /* background-color: aqua; */
    margin-top: 20vmin;
}

.newGame{
    height: 8vmin;
    width: 24vmin;
    border-radius:0.3rem;
    border: none;
    font-size: larger;
    
}
#winn{
    text-align: center;
    font-weight: bolder;
    font-size: 20vmin;
    color: aliceblue;
}
.hide {
    display: none;
}